@font-face {  
  font-family: gnuTypewriter ;  
  src: url( /font/1942.ttf ) format("truetype");  
}

@font-face {  
  font-family: armyStamp ;  
  src: url( /font/topsecret.ttf ) format("truetype");  
}


.cleardiv{float:none; clear:both;}



body {
	font-family: gnuTypewriter, Courier, monospace; 
  font-size: 1.3em;
}

h1, h2, h3, h4{
  font-size: 1em;
}

.stamp{
	font-family: armyStamp, Times, serif; 
}

table{
  font-size: 1em;
}



body{
  background-image:url('/img/background-tile.jpg');
  background-repeat:repeat;
}

.main{
  width:1000px;
  margin: 0 auto;
}

.file{
  margin: 30px;
  margin-top: 50px;
  padding: 10px;
  background-image:url('/img/file-tile.jpg');
  background-repeat:repeat;
  height: 1250px;
  
  
  border-top-left-radius: 2px 3px;
  -moz-border-radius-topleft: 2px 3px;
  border-bottom-left-radius: 2px 3px;
  -moz-border-radius-bottomleft: 2px 3px;
  
  border-top-right-radius: 2px 3px;
  -moz-border-radius-topright: 2px 3px;
  border-bottom-right-radius: 2px 3px;
  -moz-border-radius-bottomright: 2px 3px;
}

.file_body{
  position:relative;
  z-index: 2;
}

.redacted{
  background-color: black;
}

.file_stamp{
   color: #D00;
    font-size: 5em;
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);	
    padding:100px 100px;
    margin-top: 400px;
    margin-bottom: 100px;
    margin-left: 20px;
    position: absolute;
    z-index:1;
}

.title{
  font-weight:normal;
  display:inline;
  margin:0;
  padding:0;
}

.polaroid{
 float: right;
 z-index:1; 
}

.clippy{
  position: absolute;
  width: 125px;
  height: 167px;
  z-index: 2;
  top: -68px;
  left: 550px;
}

.me{
  -webkit-transform: rotate(5deg); 
  -moz-transform: rotate(5deg);	
}
.navigation{
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg);	
  position: absolute;
  left: 799px;
  width: 1000px;
  margin-top: 600px;
  top: 0;
}

.nav_tab{
  background-image:url('/img/unselected-tab.jpg');
  float:left;
   border-top-left-radius: 30px 60px;
  -moz-border-radius-topleft: 30px 60px;
  
   border-top-right-radius: 30px 60px;
  -moz-border-radius-topright: 30px 60px;
  
  padding: 5px;
  width: 130px;
  text-align: center;
  
}

.selected_tab{
  background-image:url('/img/file-tile.jpg');

}

.nav_tab a, .nav_tab a:hover, .nav_tab a:visited, .nav_tab a:active{
  text-decoration: none;
  color: black;
  display: block;
}
