

body{
	background-color: #F5F5F5;
	font: 15px "Lucida Console", Monaco, monospace;
	color: #161616;
}

h1{
	margin:0; 
	border:0; 
	padding:0; 
	font-size: /*37px*/ 2.5em; 
	font-weight: normal;
}

h2{
	margin:0;
	border:0; 
	padding:0; 
	font-size: /*26px*/ 1.7em; 
	font-weight: normal;
}

.cleardiv{float:none; clear:both;}

.largecircle{
	float: left;
	width: 42px;
	height: 42px;
	margin-right: 3px;
	background-color:#161616;

}

.mediumcircle{
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 3px;
	background-color:#161616;

}

.smallcircle{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	background-color:#161616;

}

.main_wrapper{
	margin: 0 auto;
	height: 100%;
	width: 920px;
	overflow: scroll;
}

.main{
	background-color: #EEEEEE;
	width: 900px;

	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	border: 2px /* #161616 solid */;
}

.header{
	background-color: #EEEEEE;
	width: 880px;

	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	border: 2px /* #161616 solid */;
	padding: 10px;
	margin-bottom: 10px;
}

.navbar{
	float: right;
	vertical-align: bottom;
	position: relative;
	overflow: hidden;
	width: 480px;
	height: 22px;
}

.titlebar{
	background-color: #161616;

	color: #F5F5F5;
	padding: 0px 20px 0px 20px;
	float: left;
	clear: right;
}

.content{
	width: 560px;
	float:left;
	clear: left;
	margin: 10px;
}

.blog{
	-moz-box-shadow:    0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow:         0 0 10px #000000;
	border: 1px /* solid #161616 */;
	background-color: #F5F5F5;
	overflow: hidden;
}


.about{
	margin: 10px;
}

.blog_post{
	padding: 10px;
}

.blog_title{
	background-color: #161616;

	color: #F5F5F5;
	padding: 1px 15px 0px 15px;
	float: left;
	clear: right;
}

.blog_date{
	margin:10px;
}

.sidebar{
	width: 320px;
	float: left;

}

.footer{
	float: none;
	clear: both;
	text-align: center;
	font-size: /*10px*/ 0.8em;
	
	background-color: #EEEEEE;
	width: 880px;

	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	border: 2px /* #161616 solid */;
	padding: 10px;
	margin-top: 10px;
}

a, a:hover, a:active, a:visited{
	color: #666666;
	font-style: none;
	text-decoration: none;
	font-weight: normal;
	outline: none;
}

a:hover{
        color: #999999;
        font-style: none;
        text-decoration: none;
        font-weight: normal;
        outline: none;

}

a.bef-toggle:link, a.bef-toggle:visited, a.bef-toggle:active {
    outline: none;
}


.tweet_wrapper{

	margin: 10px;
	-moz-box-shadow:    0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow:         0 0 10px #000000;
	border: 1px /* solid #161616 */;
	background-color: #F5F5F5;
}

.tweet_header{
	padding: 10px;
}

.tweet_list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.tweet_odd{
	border-top: 1px solid #161616;
	padding: 10px;
}

.tweet_even{
	border-top: 1px solid #161616;
	padding: 10px;
}

.identity{

	margin: 10px;
	padding: 10px 10px;
	
	-moz-box-shadow:    0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow:         0 0 10px #000000;
	border: 1px /* solid #161616 */;
	background-color: #F5F5F5;
}

.blognav{
	-moz-box-shadow:    0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow:         0 0 10px #000000;
	border: 1px /* solid #161616 */;
	background-color: #F5F5F5;
	
    margin: 10px;
	padding: 10px 17px;
}

.blogpage{
	width: 40px;
	height: 32px;
	display: block;
	text-align: center;
	padding-top: 12px;
}

.current_page{

	background-color: #161616;
	color: #F5F5F5;
}

.current_page:visited{
	color: #F5F5F5;
}

#myCanvas {
	width: 880px;
	height: 600px;
	margin: 10px;
}

.home-section{

}

.blog-section{
	display: none;
}

.about-section{
	display: none;
}

.nav_link{
	position: relative;
	top: 2px;
	padding-top: 1px;
	margin-top: 2px;
}


.nav_link_selected, .nav_link_selected:hover, .nav_link_selected:active, .nav_link_selected:visited{
	background-color:#161616;

	color: #F5F5F5;
	padding: 2px 6px 1px 6px;
	margin-top: 2px;
	position: relative;
	top: 2px;

}

.nav_link_slider{
	position: absolute;
	width: 800px;
}

.nav_link_wrapper{
	float: left;
	width: 160px;
}

.about_body{
	display: none;
	width: 860px;
}

.resume_body{
	width: 860px;
}

.about_link{
	position: relative;
}


.about_link_selected, .about_link_selected:hover, .about_link_selected:active, .about_link_selected:visited{
	background-color: #161616;

	color: #F5F5F5;
	padding: 1px 15px 0px 15px;
	float: left;

}

.aboutbar{
	position: relative;
	width: 880;
	height: 40px;
	overflow: hidden;
}
.about_link_slider{
	position: absolute;
	width: 1320px;
}

.about_link_wrapper{
	float: left;
	width: 440px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}


::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #161616;
}

.new_blog_post {
	padding: 10px;
}


input[type=text],textarea,input[type=textfield],input[type=password]{

	background-color: #F5F5F5;

	color: #666666;
	border: 1px solid #161616;
	padding: 3px;
}

.blog_title_field{
	display: block;
	height: 40;
	width: 400;
	font-size: /*26px*/1.7em;
	margin: 10px;
}

.blog_body_area{
	display: block;
	height: 520;
	width: 520;
	margin: 10px;
}


.warning_text{
	color: red;
	margin: 10px 0px 10px 0px;
	display: block;
	font-size: /*14px*/1.1em;
}

.blog_warning .warning_text{
	margin: 20px 0px 0px 20px;

}

input[type=button],input[type=submit]{
	color: #F5F5F5;

	background-color: #161616;
	border: 1px solid #161616;
	padding: 5px;
	margin: 0px 10px;
	float: right;
}

.new_blog_link{
	margin: 10px;
	display: block;
}

.edit_blog_link{
	margin: 10px;
	display:block;
	float: right;
}

.new_comment {}

.comment_wrapper{
	-moz-box-shadow:    0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow:         0 0 10px #000000;
	border-top: 2px /*solid #161616*/;
	background-color: #FFFFFF;
	margin: 10px;
	overflow: hidden;
		  
}

.comment{ 
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 0px 10px;
	border-top: 1px /*solid #161616*/;
	-moz-box-shadow:    0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow:         0 0 10px #000000;
	overflow:hidden;
}

.comment .comment .comment .comment .comment{
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
	
}

.comment-author{
	margin: 5px 20px 5px 0px;
	font-size: /*20px*/1.5em;
	float: left;
}

.comment-date{
	margin: 0px 30px;
	float: left;
}

.comment-text{
	margin: 10px;
	clear: both;
}

.reply{
	margin: 0px 10px;
	float: right;
	display: block;
}

.comment-rating{
	margin: 0px 10px;
	font-size: /*14px*/1.1em;
}

.comment-rating-links{
	margin: 0px 10px 0px 30px;
}

.comment-flag{
	float: right;
	color:#F5F5F5;
	margin: 0px 10px;
}
.comment-flag:visited, .comment-flag:active {
	color:#F5F5F5;
}
.comment-flag:hover {
	color:#666666;
}
.comment_header{
	margin: 10px 10px 0px 10px;
}

.new_comment{
	margin: 10px;
}

.comment_text_area{
	width: 100%;
	height: 100px;
	margin: 10px 0px;
}
.comment-edit-links{
	float:right;
	margin: 0px 10px;
}

.comment_pagination{
	margin: 0px 0px 10px 0px;
}

.comment_pagination table{
	margin-left: auto;
	margin-right:auto;
}

.commentpage{
	width: 40px;
	height: 32px;
	display: block;
	text-align: center;
	padding-top: 12px;
}

iframe{
	border: 0px;
	margin: 10px;
}
